@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
#photo h1 {
    margin-left: 2%;
    color: rgb(192, 13, 204);
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #e0fde6;
    line-height: 1.5;
    font-family: 'advent Pro';
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;
}

.text {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

header ul {
    margin: 0;
    padding: 0;
}


/* ******************* NAVBAR ******************* */

header nav {
    overflow: visible;
    background-color: #18d642;
    position: relative;
    padding-left: 25%;
    width: 100%;
    opacity: 1;
}

header li {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

a:hover {
    color: coral;
}

header li a {
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    font-size: 25px;
    color: rgb(37, 75, 146);
}

#logo {
    font-family: 'Advent Pro';
    font-weight: bolder;
    float: left;
    margin-right: 10%;
    margin-left: 5%;
}

#logo img {
    z-index: 99999;
    width: 40px;
    height: 40px;
}

header li:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    background-color: #ebf139;
    position: absolute;
}


/* the footer */

.container {
    max-width: 100%;
}

.row {
    display: flex;
}

footer ul {
    list-style: none;
}

.footer {
    background-color: #ebf139;
    padding-top: 10px;
    padding-bottom: 3%;
    padding-left: 3%;
    margin-top: 0%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 23px;
    color: #531fe2;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: bolder;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 20px;
    text-transform: capitalize;
    color: #fa0606;
    text-decoration: none;
    font-weight: bolder;
    color: #19ff19;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #f50b3e;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #0b4ef8;
    background-color: #08dbf7;
}

.container p {
    margin-bottom: 2%;
    padding-top: 3%;
    padding-left: 1%;
    color: rgb(23, 212, 212);
    font-size: 25px;
}

#img:hover {
    background-color: #08dbf7;
}

.social-links,
#img {
    display: inline;
}

div {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
}

h1 {
    margin-left: 4%;
    color: rgb(192, 13, 204);
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Cairo', sans-serif;
}

p {
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
    color: rgb(247, 248, 248);
    font-size: 25px;
    font-family: 'Cairo', sans-serif;
}

.ys {
    background-image: url(13.jpg);
    background-size: cover;
}